
  <div class="border-box"></div>
              <div class="sectionHeading text-left">
                <h2 class="section-title">{{section.settings.heading}}

                </h2>
                </div>
                <p>{{section.settings.heading1}} 
                </p>
                {{section.settings.cofoundertext2}}
                <div class="linkBox">
                  <a class="theme-link-btn" href="{{section.settings.cofoundertext55}}">{{section.settings.cofoundertext}} <img class="arrow" src="{{'theme-arrow.png' | asset_url}}" alt=""></a>
                </div>
    
                <div class="col-row transfer-printing grid-row layout-2">
                  <div class="col-box right-col">
                    <div class="imgBox">
                      <img src="{{ section.settings.slide_image1 | img_url: 'master'}}" alt="">
                    </div>
                    <div class="imgBox">
                      <img src="{{ section.settings.slide_image2 | img_url: 'master'}}" alt="" >
                    </div>
                  </div>
                  <div class="col-box">
                    <div class="imgBox">
                      <img src="{{ section.settings.slide_image3 | img_url: 'master'}}" alt="" height="550">
                    </div>
                  </div>
                </div>
            </div>
{% schema %}
  {
    "name": "FusionX Section",
    "settings": [
				                   
                  {
                      "type":"text",
                      "label":"Heading",
                      "id":"heading"
                  },                   
                  {
                      "type":"html",
                      "label":"Description",
                      "id":"heading1"
                  },
                  {
                      "type":"html",
                      "label":"Points",
                      "id":"cofoundertext2"
                  },
                  {
                      "type":"text",
                      "label":"Button 1 Text",
                      "id":"cofoundertext"
                  },
                  {
                      "type":"text",
                      "label":"Button 1 Url",
                      "id":"cofoundertext55"
                  },
                  {
                      "id": "slide_image1",
                      "type": "image_picker",
                      "label": "FusionX Sec Image 1"
                  },
                  {
                      "id": "slide_image2",
                      "type": "image_picker",
                      "label": "FusionX Sec Image 2"
                  },
                  {
                      "id": "slide_image3",
                      "type": "image_picker",
                      "label": "FusionX Sec Image 3"
                  }

    ]
  }
{% endschema %}